<!DOCTYPE html>
<html>
<head>
  <title>ROR jobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">Rail jobs</div>
      <ul class="nav navbar-nav">
        <li><%= link_to "All Jobs", root_path %></li>
        <% Category.all.each do |category| %>
          <li><%= link_to category.name, jobs_path(cid: category.id) %></li>
        <% end %>
      </ul>
      <%= link_to "New Job", new_job_path, class: "navbar-text navbar-right navbar-link" %>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <%= yield %>
    </div>
  </div>


</body>
</html>
